/* 
Basic color scheme:
	Blue: HSB ( 215, 65%, N% )
	Green: HSB ( 125, 65%, N% ) 
	Brown: HSB ( 35, 65%, N% )
	Magenta: HSB ( 305, 65%, N% )
	Grey Any Value
*/

.root, HBox, VBox {
    -fx-base: #282828;
    -fx-background: #282828;

    -fx-color: derive(-fx-base, 15%);

    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 5%);

    -fx-light-text-color: rgb( 175, 175, 175 );
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    -fx-accent: hsb( 215, 65%, 70% );
    -fx-focus-color: -fx-accent;
    
    -fx-selection-bar: hsb( 215, 65%, 35% );
    -fx-selection-bar-non-focused: hsb( 215, 65%, 25% );
    
    -fx-default-button: -fx-selection-bar;
}

HBox, VBox, #transport {
    -fx-background-color: #222222;
    -fx-light-text-color: rgb( 190, 190, 190 );
}

.tab-header-background {
	-fx-background-color: #111111;
}

.artpane {
	-fx-background-color: #111111;
}

.context-menu {
  -fx-background-color: #2D2D2D;
}

#lyricsContainer, #lyricsContainer Text, #lyricsContainer TextFlow { 
	-fx-background-color: rgb( 20, 20, 20 );
	-fx-background: rgb( 20, 20, 20 );
}

#lyricsText, #lyricsTitle {
	-fx-text-fill: rgb( 175, 175, 175 );
    -fx-fill: rgb( 175, 175, 175 );
}

#playlist-controls {
	-fx-background-color: #303030;
}

.table-view {
	-fx-border-color: transparent;
	-fx-table-cell-border-color: transparent;
}

.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.trackName:hover {
   -fx-text-fill: hsb( 215, 35%, 70% );
}

.trackName:pressed {
   -fx-text-fill: grey;
}

#transport .thumb {
	-fx-color: #555555;
}

.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.queueActive {
	-fx-base: hsb( 125, 65%, 40% );
}

.split-pane:horizontal .split-pane-divider {
	 -fx-background-color: linear-gradient(to right, #323232, #202020 );
	 -fx-padding: 2.5px, 0, 2.5px, 0;
}

.split-pane:vertical .split-pane-divider {
	 -fx-background-color: linear-gradient(to bottom, #323232, #202020);
	 -fx-padding: 2.5px, 0, 2.5px, 0;
}

.tableAlbumName {}

.tableAlbumDisc {
	-fx-text-fill: hsb( 215, 40%, 75% ); 
}

.tableAlbumType {
	-fx-text-fill: hsb( 215, 40%, 45% ); 
}

.aboutPaneBack {
	-fx-background-color: HSB( 215, 65%, 15% ) !important;
}

.aboutPaneText {
	-fx-text-fill: HSB( 0, 0%, 70% ) !important;
}

.aboutPaneURL {}


