.queueActive {
	-fx-base: #90EE90;
}

.volumeLabel {
	-fx-font-size: 22px;
}

.trackInfo {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

.file-missing {
	-fx-text-fill: firebrick;
	-fx-text-background-color: firebrick;
}

.settingsButton {
   -fx-background-color: transparent;
   -fx-font-size: 32px;
}

.settingsButton:hover{
   -fx-text-fill: cornflowerblue;
}

.settingsButton:pressed{
   -fx-text-fill: grey;
 }