.queueActive {
	-fx-base: #90EE90;
}

.volumeLabel {
	-fx-font-size: 22px;
}

.trackName {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-background-color: transparent;
}

.trackName:hover {
	-fx-text-fill: cornflowerblue;
}

.trackName:pressed {
	-fx-text-fill: grey;
}

.file-missing, .file-missing .tableAlbumName, .file-missing .tableAlbumDisc, .file-missing .tableAlbumType {
	-fx-text-fill: hsb(0, 81%, 70%);
	-fx-text-background-color: hsb(0, 81%, 70%);
}

.settingsButton {
	-fx-background-color: transparent;
	-fx-font-size: 32px;
}

.updateButton {
	-fx-background-color: transparent;
	-fx-font-size: 16px;
	-fx-underline: false;
	-fx-border-color: transparent;
}

.volumeButton {
	-fx-background-color: transparent;
}

.lyricsTextArea .scroll-pane .content .text {
    -fx-text-alignment: center;
}

.tooltip {
	-fx-font-size: 12px;
}

.scroll-bar:horizontal { /*This selects all tables right now, probably not ideal.*/
	-fx-font-size: .01px;
}

.tab-down-button, .tab-down-button .arrow {
	-fx-padding: 0;
}

.dragAndDropLabel {
	-fx-font-weight: bold;
}


